numpy==1.23.0+computecanada
scikit-learn==1.1.1+computecanada
scipy==1.8.0+computecanada
gym==0.24.0+computecanada
transformers==4.7.0
nltk==3.5+computecanada
tqdm==4.60.0+computecanada
torch==1.10.0+computecanada
torchvision==0.11.1+computecanada
torchaudio==0.10.0+computecanada
spacy==3.2.2
regex
absl-py==1.1.0
pytest==7.1.2
sacrebleu==1.5.0+computecanada
six==1.16.0
progressbar==2.5
sklearn==0.0
sentencepiece==0.1.96
gdown==4.5.1
click==7.1.1
gensim
-e .